html
    head
        meta(charset='utf-8')
        meta(
            name='viewport'
            content='width=device-width, initial-scale=1.0'
        )
        link(
            rel='stylesheet'
            href='/static/css/page404.css'
        )
        title Page not found
    body
        section(class="bg")
            h1 404
            div(class="text")
                p Error four o' four:
                p this isn't the page you're looking for
                button(class="backBtn") go back
        script(src="/static/js/page404.js")