.pilot {
  display: grid;
  grid-template-columns: 8% 47% 25% 20%;
  padding: 5px;
  margin: 5px 0;
  min-height: 62px;
  background: #0a335c;
  color: #fff;

  .num {
    //text-align: center;
  }

  .name {

  }

  .car {
    text-transform: uppercase;
    display: block;
    padding-left: 10px;
    color: #d6d9e2;
    font-size: 0.65em;
  }

  .statusCell{
    text-align: center;

    .status {
      display: inline-block;
      padding: 0 8px 4px;
      border-radius: 10px;
      vertical-align: middle;
    }
  }

  .times {
    display: flex;
    flex-direction: column;
  }
}

//.pilot.session {
//  background: #6be46b;
//}
//
//.pilot.stdBy {
//  background: #fffc91;
//}
//
//.pilot.park {
//  background: #ff5656;
//}