.about {
  background: #101d34;
  color: #fffdd0;
  position: fixed;
  bottom: -5vh;
  padding: 40px 15px;
  width: 90vw;
  height: 90vh;
  overflow: auto;
  border-radius: 10px;
  box-shadow: #000 1px 1px 20px 4px;
  z-index: 7;

  @media(min-width: 992px) {
    width: 33vw;
    height: 70vh;
    bottom: 10vh;
  }

  p {
    margin-bottom: 15px;
    &:first-letter {
      padding-left: 20px;
    }
    ul {
      list-style: inside;
      margin-left: 15px;
      li {
        a {
          color: #6acfff;
        }
      }
    }
  }
}