.btnStyle {
  padding: 15px 20px;
  margin: 2px 0;
  border-radius: 50px;
  background: #fffacd;
  transition: all 10ms ease-in-out;

  color: #000;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;

  outline: none;
  border: none;

  &:active {
    outline: none;
    border: none;
    transform: scale(0.98);
  }

  @media (min-width: 992px) {
    background: aliceblue;
    color: #000;
    font-weight: bold;
    border-radius: unset;
    padding: 7px 20px;
    width: 100%;
    text-align: left;
  }
}

.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  bottom: 15vh;
  right: -100%;
  z-index: 2;

  transition: all 0.3s ease-in;

  @media (min-width: 992px) {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;

    background: #363636;
    justify-content: flex-start;
    align-items: flex-start;
    width: 20%;
    height: 100vh;
    padding: 20px 5px;
  }

  .menuItem {
    display: block;
    width: 100%;

    .dropdown {
      display: block;
      .btnStyle;
    }

    .list {
      display: none;
      position: absolute;
      right: 80px;
      top: -5px;
      width: max-content;
      transition: all 0.3s ease-in-out;

      @media(min-width: 992px) {
        position: relative;
        top: 0;
        right: 0;
        width: 100%;
        background: grey;
        flex-direction: column;
      }

      .item {
        display: flex;
        margin: 0 5px;
        background: transparent;
        color: #000;
        transition: all 0.1s;

        @media(min-width: 992px) {
          background: #bfbfbf;
          padding: 5px;
        }

        &:active {
          background: #e8e8e8;
        }

        .radio__track {
          display: none;

          @media(min-width: 992px) {
            display: block;
            align-self: center;
          }
        }

        .radio__track:checked ~ .label__track {
          background: #45ff45;
          color: #000;
        }

        .label__track {
          display: inline-block;
          padding: 15px 20px;
          border-radius: 50px;
          background: grey;
          color: #000;

          @media(min-width: 992px) {
            border-radius: unset;
            padding: 0;
            margin-left: 10px;
            background: transparent;
          }
        }
      }
    }

    .showList {
      display: flex;
      /*transform: matrix(1, 0, 0, 1, 0, 0);*/
    }

    .menuLink {
      display: block;
      width: auto;
      text-decoration: none;
      .btnStyle;
    }
  }
}

.show {
  right: 20px;
}

.menuButton {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 3;
  .btnStyle;

  @media (min-width: 992px) {
    display: none;
  }
}