.btnStyle {
  padding: 15px 20px;
  margin: 2px 0;
  border-radius: 50px;
  background: #fffacd;
  transition: all 10ms ease-in-out;
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  outline: none;
  border: none;
}
.btnStyle:active {
  outline: none;
  border: none;
  transform: scale(0.98);
}
@media (min-width: 992px) {
  .btnStyle {
    background: aliceblue;
    color: #000;
    font-weight: bold;
    border-radius: unset;
    padding: 7px 20px;
    width: 100%;
    text-align: left;
  }
}
.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  bottom: 15vh;
  right: -100%;
  z-index: 2;
  transition: all 0.3s ease-in;
}
@media (min-width: 992px) {
  .menu {
    right: 0;
    top: 0;
    background: #363636;
    align-items: flex-start;
    justify-content: flex-start;
    width: 20%;
    height: 100vh;
    padding: 20px 5px;
  }
}
.menu .menuItem {
  display: block;
}
@media (min-width: 992px) {
  .menu .menuItem {
    width: 100%;
  }
}
.menu .menuItem .dropdown {
  display: block;
  cursor: pointer;
  padding: 15px 20px;
  margin: 2px 0;
  border-radius: 50px;
  background: #fffacd;
  transition: all 10ms ease-in-out;
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  outline: none;
  border: none;
}
.menu .menuItem .dropdown:active {
  outline: none;
  border: none;
  transform: scale(0.98);
}
@media (min-width: 992px) {
  .menu .menuItem .dropdown {
    background: aliceblue;
    color: #000;
    font-weight: bold;
    border-radius: unset;
    padding: 7px 20px;
    width: 100%;
    text-align: left;
  }
}
.menu .menuItem .list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(150%, 0px);
  width: 90vw;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 992px) {
  .menu .menuItem .list {
    position: fixed;
    top: 10%;
    right: 0;
    width: 33%;
    flex-direction: column;
  }
}
.menu .menuItem .list .switch {
  background: grey;
  padding: 15px 20px;
  margin: 2px 0;
  border-radius: 50px;
  background: #fffacd;
  transition: all 10ms ease-in-out;
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  outline: none;
  border: none;
  margin-top: 10px;
}
.menu .menuItem .list .switch:active {
  outline: none;
  border: none;
  transform: scale(0.98);
}
@media (min-width: 992px) {
  .menu .menuItem .list .switch {
    background: aliceblue;
    color: #000;
    font-weight: bold;
    border-radius: unset;
    padding: 7px 20px;
    width: 100%;
    text-align: left;
  }
}
.menu .menuItem .list .item {
  display: flex;
  margin: 5px 0;
  background: transparent;
  color: #fff;
  transition: all 0.1s;
}
@media (min-width: 992px) {
  .menu .menuItem .list .item {
    background: #bfbfbf;
    padding: 5px;
  }
}
.menu .menuItem .list .item:active {
  background: #e8e8e8;
}
.menu .menuItem .list .item .radio__track {
  display: none;
}
@media (min-width: 992px) {
  .menu .menuItem .list .item .radio__track {
    display: block;
    align-self: center;
  }
}
.menu .menuItem .list .item .radio__track:checked ~ .label__track {
  background: #45ff45;
  color: #000;
}
.menu .menuItem .list .item .label__track {
  display: inline-block;
  padding: 15px 20px;
  border-radius: 50px;
  background: grey;
  color: #000;
}
@media (min-width: 992px) {
  .menu .menuItem .list .item .label__track {
    border-radius: unset;
    padding: 0;
    margin-left: 10px;
    background: transparent;
  }
}
.menu .menuItem .list .dateItem {
  width: 100%;
  background: #fffacd;
  color: #1c4b82;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
}
.menu .menuItem .showList {
  transform: translate(-116%, 0px);
}
@media (min-width: 992px) {
  .menu .menuItem .showList {
    transform: translate(-75%, 0);
  }
}
.menu .menuItem .menuLink {
  display: block;
  width: auto;
  text-decoration: none;
  padding: 15px 20px;
  margin: 2px 0;
  border-radius: 50px;
  background: #fffacd;
  transition: all 10ms ease-in-out;
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  outline: none;
  border: none;
}
.menu .menuItem .menuLink:active {
  outline: none;
  border: none;
  transform: scale(0.98);
}
@media (min-width: 992px) {
  .menu .menuItem .menuLink {
    background: aliceblue;
    color: #000;
    font-weight: bold;
    border-radius: unset;
    padding: 7px 20px;
    width: 100%;
    text-align: left;
  }
}
.show {
  right: 20px;
}
@media (min-width: 992px) {
  .show {
    right: 0;
  }
}
.menuButton {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 3;
  padding: 15px 20px;
  margin: 2px 0;
  border-radius: 50px;
  background: #fffacd;
  transition: all 10ms ease-in-out;
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  outline: none;
  border: none;
}
.menuButton:active {
  outline: none;
  border: none;
  transform: scale(0.98);
}
@media (min-width: 992px) {
  .menuButton {
    background: aliceblue;
    color: #000;
    font-weight: bold;
    border-radius: unset;
    padding: 7px 20px;
    width: 100%;
    text-align: left;
  }
}
@media (min-width: 992px) {
  .menuButton {
    display: none;
  }
}
.alert {
  background: #fffacd;
  box-shadow: 0 0 20px 5px #000;
  width: 230px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 50%;
  transition: all 0.3s linear;
  transform: translate(-50%, -200%);
}
.alert.showAlert {
  animation: showAlert;
  animation-duration: 5s;
  animation-iteration-count: 1;
}
@keyframes showAlert {
  0% {
    transform: translate(-50%, -200%);
  }
  7% {
    transform: translate(-50%, 70%);
  }
  93% {
    transform: translate(-50%, 70%);
  }
  100% {
    transform: translate(-50%, -200%);
  }
}
/*# sourceMappingURL=Menu.module.css.map */